@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style=" background-color:aliceblue ">
    <center>
        <h1>Registro de Compra de Telefonos Celulares</h1>
        <p class="lead"> Compras seguras  </p>
    
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> </center>
</div>

<div class="row">
    @*<div class="col-md-4">
            <h2>@Html.ActionLink("Usuario","Index","Usuarios")      </h2>
            <p>
                VER.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>*@

    
    <div class="col-md-4" style=" background-color:antiquewhite">
       
            <h2>@Html.ActionLink("Telefono", "Index", "Telefonoes")</h2>
            <p> VER LOS REGISTROS GUARDADOS.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
       
    </div>


    @*<div class="col-md-4">
            <h2>@Html.ActionLink("Telcel", "Index", "Telcels")</h2>
            <p> VER. </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>